<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center"> Progress Indicators </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Tarea 1:</p>
    <br />
    <p>Jorge Mora Zepeda</p>
    <p>Fiorella Rodríguez Calvo</p>
    <p>Juan Pablo Soto Villegas</p>
    <br />
    <p>Seleccione una opción del Menú</p>
  </div>
</ion-content>